<%= content_for :title, @user.name %>

<%= render 'saves', saves: @saves, user: @user %>

<% if @saves.empty? %>
  <div class="notification is-success content">
    <%= @user.name %> didn't save any functions yet.
  </div>
<% end %>
