<div class="card m-b-md is-shadowless">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <%= link_to image_tag(user_image_url(follower)), user_functions_path(follower) %>
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-6">
          <%= link_to follower.name, user_functions_path(follower) %>
        </p>
        <p class="subtitle is-6">
          <%= link_to user_github_url(follower),  target: "_blank", rel: "noopener" do %>
            @<%= follower.username %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
