<%= content_for :title, @user.name + " Followers" %>

<%= render 'followerships', users: @users, user: @user %>

<% if @users.empty? %>
  <div class="notification is-success content">
    <%= @user.name %> doesn't have followers
  </div>
<% end %>
