.badge {
  position: relative;
  padding: 0px 5px;
  right: 30%;
  border-radius: 50%;
  background: #ff2a2a;
  color: white;
  font-size: 12pt;
}

.notification {
  margin-bottom: 1%;
  background-color: white;
}

.notification > .actor {
  text-decoration-line: none;
}

.show-notification {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}

.notification-info {
  display: inline;
  position: relative;
  z-index: 1;
}

.read {
  background-color:  hsl(0, 0%, 86%);
}