<div class="columns">
  <%= render 'sidebar' %>
  <div class="column">
    <div class="card is-shadowless">
      <div class="card-content">
        <%= render @notifications %>
        <%= link_to 'Load More', notifications_path(current_user, offset: @next), remote: true, class: 'button is-fullwidth more' if @next %>
      </div>
    </div>
  </div>
</div >
