<div class="columns">
  <%= render 'sidebar' %>
  <div class="column">
    <div class="card is-shadowless">
      <div class="card-content">
        <%= render 'notifications', notifications: @notifications %>
      </div>
    </div>
  </div>
</div >
