<div class="hero">
  <div class="hero-body">

    <div class="container has-text-centered">
      <h1 class="title">We're waiting to show off your Ruby creativity.</h1>

      <div class="columns m-t-xl">
        <div class="column">
          <span class="icon is-size-1"> <i class="fas fa-code"></i> </span> <br/>
          <div class="subtitle">
            Write one function that is useful for you and others
          </div>
          <p>
            How many times you have been looking for a function that does one
            thing and you end up using a gem just for one function? <br/>

            Here we'll fix that, consider rubyfunctions.com is your repository
            for useful functions, you can get back to it any time <br/>
          </p>
        </div>
        <div class="column">
          <span class="icon is-size-1"> <i class="fas fa-book"></i> </span> <br/>
          <div class="subtitle">
            Depend on Ruby standard library and core library only
          </div>

          <p>
            We all have seen the problem with too many dependencies, here we'll
            try to be as minimal as we can, we'll build off of ruby core and
            standard library only, making our functions as independent as possible,
            this means you'll be able to use it any project regardless of its framework
          </p>
        </div>
        <div class="column">
          <span class="icon is-size-1"> <i class="fas fa-comment"></i> </span> <br/>
          <div class="subtitle">
            Show it to others and get feedback
          </div>

          <p>
            Now that you have a useful repository of functions you have wrote,
            show it to other developers, your function maybe useful for other
            people, Also you will get feedback from other developers to improve
            your knowledge, And you'll have the chance to also give feedback to
            others and learn something new from their functions
          </p>
        </div>
      </div>
    </div>

  </div>
