<aside class="menu">
  <p class="menu-label"> General </p>

  <ul class="menu-list">
    <li>
      <%= link_to functions_path, class: ('is-active' if controller.is_a? FunctionsController ) do %>
        <span class="icon"> <i class="fas fa-code"></i> </span>
        <span>My functions</span>
      <% end %>
    </li>
  </ul>
</aside>
