<%= render 'common/concept' unless current_user %>

<div class="columns">

  <div class="column">
    <%= render @functions %>
  </div>

  <%= render 'sidebar' if !current_user || current_user.created_at > 30.days.ago %>
</div>
